.chat-container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* dark mode */
.dark-mode .chat-container {
    background-color: #222;
}
html:not(.dark-mode) .chat-container {
    background-color: #fff;
}

.chat-header {
    padding: 20px;
    background-color: #3f51b5;
    color: #fff;
    text-align: center;
    font-size: 24px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.messages-container {
    padding: 20px;
    max-height: 400px;
    overflow-y: scroll;
}

.messages-list {
    list-style-type: none;
    padding: 0;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.sent {
    background-color: #4caf50;
    color: #fff;
    align-self: flex-end;
}

.received {
    background-color: #f2f2f2;
    align-self: flex-start;
}

.chat-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.chat-input input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.chat-input button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3f51b5;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.chat-input button:hover {
    background-color: #1a237e;
}
