<link rel="stylesheet" type="text/css" href="/css/nav.css">

<nav>
    <a id="cart">
        <img src="https://cdn-icons-png.flaticon.com/512/5780/5780410.png" alt="img cart">
    </a>
    <a href="/profile" id="profile">
        <img src="https://cdn-icons-png.flaticon.com/512/2550/2550383.png" alt="img profile">
    </a>
</nav>

<script src="/js/nav.js"></script>