@use '../../index.module'

.container_qty
    display: flex
    align-items: center
    justify-content: center
    border-right: 1px solid black
    button
        background-color: index.$orange_ddbase
        border: none
        margin: 5%
        cursor: pointer
        border-radius: 100%
    button:hover
        background-color: index.$orange_ddbase_hover

    p
        border: none !important
