<h2>Sign Up</h2>

<form action="/api/sessions/register" method="post">
    <label for="firstname"> First name: </label>
    <input type="text" name="firstname" required>

    <label for="lastname"> Last name: </label>
    <input type="text" name="lastname" required>

    <label for="emailAddress"> Email: </label>
    <input type="email" name="emailAddress" required>

    <label for="password"> Password: </label>
    <input type="password" name="password" required>

    <button type="submit">Send</button>
</form>