<h1>Bienvenido al chat</h1>
<div>
    <input type="text" id="chatBox" required placeholder="Writing you message">
    <button type="submit">Send</button>
</div>
<div id="messages"></div>

<script type="module" src="/js/chat.js"></script>