<div class="chat-container">
    <div class="chat-header">
        <h2>Chat in live</h2>
    </div>
    <div class="messages-container">
        <ul id="messages" class="messages-list">
        <!-- Aquí se añadirán los mensajes -->
        </ul>
    </div>
    <form id="chatForm" class="chat-input">
        <input type="text" id="chatBox" placeholder="Writing your message...">
        <button id="send-button">Send</button>
    </form>
</div>


<script type="module" src="/js/chat.js"></script>