<h2>Login</h2>

<form action="/api/sessions/login" method="post">
    <label for="email">Email: </label>
    <input type="email" name="email" id="email" required>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" required>
    <button type="submit">Send</button>
</form>

<a href="http://localhost:8080/register">No tienes una cuenta? Cree una ya</a>