<h2 class="titles">Add products</h2>
<form id="formProd">
    <div>
        <label for="title">Title: </label>
        <input type="text" name="title" required id="title">
    </div>
    <div>
        <label for="description">Description: </label>
        <input type="text" name="description" required id="description">
    </div>
    <div>
        <label for="code">Code: </label>
        <input type="text" name="code" required id="code">
    </div>
    <div>
        <label for="price">Price: </label>
        <input type="number" name="price" required id="price">
    </div>
    <div>
        <label for="stock">Stock: </label>
        <input type="number" name="stock" required id="stock">
    </div>
    <div>
        <label for="category">Category: </label>
        <input type="text" name="category" required id="category">
    </div>
    <div hidden>
        <label for="thumbnails">Thumbnail: </label>
        <input type="text" name="thumbnails[]" id="thumbnails" placeholder="url's" >
    </div>
    <div>
        <label for="images">Images: </label>
        <input type="file" name="file" id="file">
    </div>
    <button >Send</button>
</form>

<h2 class="titles">Products</h2>
<div id="products" class="products-container"></div>

<script src="/js/realtimeproducts.js"></script>