<link rel="stylesheet" href="/css/undefined.css">

<div class="container">
    <h1>Page not found</h1>
    <p>Sorry, the page you are looking for is not available at the moment.</p>
    <p>Please check the address you entered or try again later.</p>
</div>