<link rel="stylesheet" type="text/css" href="/css/navBar.css">

<nav>
    <a id="productsNav">Products</a>
    <a id="cartNav">cart</a>
    <a id="realTimeNav">Real Times Products</a>
    <a id="chatNav">chats</a>
    <button id="btMode">Mode</button>
    <button id="btLogout">Logout</button>
</nav>

<script type="module" src="/js/navbar.js"></script>